<div>
    <form name="categoryEditForm" novalidate>

        <div class="modal-header">
            <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">
                <span>@L("EditCategory")</span>
            </h4>
        </div>

        <div class="modal-body">
            <div class="form-group form-float">
                <div class="form-line">
                    <input class="form-control" type="text" name="DisplayName" ng-model="vm.category.displayName" required maxlength="64" minlength="2">
                    <label class="form-label">@L("Name")</label>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="categoryEditForm.$invalid">@L("Save")</button>
        </div>
    </form>
</div>